# Ignore all node_modules folders (client/server/root)
**/node_modules/
client/node_modules/
server/node_modules/
node_modules
.env
# Ignore sensitive credentials
server/google-sheets-credentials.json

# Ignore environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore pnp and dependency manager files
.pnp/
.pnp.js

# Ignore test coverage
coverage/

# Ignore production build
build/

# Ignore OS & IDE system files
.DS_Store

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
